@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: "Libre Baskerville", serif;
    font-weight: 550;
    font-style: normal;
}

.register-btn{
    background-color: #189618;
    color: white;
}

.login-btn{
    background-color: #189618;
    color: white;
}
