@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: "Libre Baskerville", serif;
    font-weight: 550;
    font-style: normal;
}

.register-btn{
    background-color: #012641;
    color: white;
}

.login-btn{
    background-color: #012641;
    color: white;
}

table{
    border: 1px solid grey;
}

.success-bg {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error-bg {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 10px;
  }

  .info-div {
    margin-top: 20px;
    width: 40%;
    background-color: #012641;
    color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 30px auto; 
    display: flex;
    flex-direction: column;
  }
  
  
  .info-div > div {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-div h4 {
    font-weight: bold;
    font-size: 20px;
  }

  .img-home {
    margin-top: 20px;
    
  }
  
  .img-home img {
    max-width: 100%; 
    height: 16pc;
    object-fit: cover; 
    border-radius: 10px;
  }
  