@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: "Libre Baskerville", serif;
    font-weight: 550;
    font-style: normal;
}

.register-btn{
    background-color: #012641;
    color: white;
}

.login-btn{
    background-color: #012641;
    color: white;
}

table{
    border: 1px solid grey;
}

.success-bg {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error-bg {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 10px;
  }
  